@media screen and (max-width:1023px) {
    #wrap {
        overflow: hidden;
        font-family: 'NanumSquare';
        width: 100%;
    }

    .inner {
        width: 95%;
        margin: auto;
    }

    /* header */
    #header {

        height: 7.5rem;

    }

    #header .inner {

        /* width: 45.875rem; */
        width: 95%;

        margin: auto;



    }

    #header h1 {
        padding-top: 2.188rem;
        width: 9.375rem;


    }

    #header h1 img {
        width: 9.375rem;

    }

    #header nav {
        /* display: none; */


    }

    #header nav ul {
        display: flex;
        padding-top: 2.813rem;

    }

    #header nav ul li {
        padding-left: 2.813rem;
        font-size: 1.125rem;
        font-weight: 700;
    }

    #header nav ul li:first-child {
        padding-left: 0;
    }

    #header nav ul li a {
        color: #fff;
    }

    #header nav ul li a:hover {
        padding-bottom: .625rem;



        color: #288C86;
    }

    #header .menu {
        /* display:inline-block; */
        display: none;
        width: 1.75rem;
        height: 1.75rem;
        padding-top: 2.188rem;
        /* z-index: 20; */
    }



    /* visual */
    #visual {
        width: 100%;
        height: 64.813rem;
        position: absolute;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        background: url(../images/visual_bg.png);

    }

    #visual .inner {

        /* margin: auto; */
    }

    #visual .box {
        /* display: flex; */

    }

    #visual .text {
        padding-top: 18.75rem;

        padding-left: .438rem;
        z-index: 5;
        position: absolute;
    }

    #visual .text h2 {
        font-size: 2.5rem;
        font-weight: 700;
        padding-bottom: 6.25rem;
    }

    #visual .text h2 span {
        color: #288C86;


    }

    #visual .text p {
        font-size: 1rem;
        font-weight: 700;
    }

    #visual .banner {
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        overflow: hidden;


    }

    #visual .banner ul {
        display: flex;
        overflow: hidden;
        width: 100.188rem;
        height: 64.813rem;



    }

    #visual .banner ul li {
        width: 35.125rem;
        height: 64.813rem;
        margin-left: 26rem;


    }

    #visual .banner ul li img {
        height: 64.813rem;


    }

    #visual .search {
        padding-bottom: 6.25rem;


    }

    #visual .search input {
        width: 23.5rem;
        height: 5.875rem;
        font-size: 1.25rem
    }

    #visual .search button {
        background: #288C86;
        width: 11.25rem;
        height: 6.25rem;
        margin-left: -0.313rem;
        font-size: 1.563rem;
        font-weight: 500;
        color: #fff;
        font-family: 'NotoSans';


    }

    #visual .btn {
        position: absolute;
        left: 30rem;
        top: 51.875rem;
        z-index: 15;
        display: flex;
    }

    #visual .btn span {
        display: inline-block;
        border-radius: 50%;
        width: 3.75rem;
        height: 3.75rem;
        background: #fcfcfc;
        text-align: center;
        margin-right: .625rem;
        cursor: pointer;
    }

    #visual .btn span:last-child {
        margin-right: 0;
    }

    #visual .btn span i {
        display: inline-block;
        color: #288C86;
        font-size: 1.875rem;
        line-height: 3.75rem;
    }




    /* main */
    .main {

        margin-top: 60rem;


    }

    /* content1 #type */

    #type {}

    #type .inner {
        height: 45.625rem;
        margin: auto;

    }

    #type h3 {
        font-size: 1.875rem;
        font-weight: 700;
        padding-top: 6.25rem;
    }

    #type p {
        padding-top: 1.25rem;
        padding-left: 56.25rem;
        font-size: .875rem;
        padding-bottom: 1.25rem;
    }

    #type p a {}

    #type p a i {
        padding-left: .625rem;
    }


    #type ul {

        display: flex;

        justify-content: space-between;


    }

    #type ul li {


        position: relative;
    }

    #type ul li a {}

    #type ul li a img {
        height: 25rem;

    }








    /* content2 #point */

    #point {}

    #point .inner {
        height: 40.625rem;
    }

    #point h3 {
        font-size: 1.875rem;
        text-align: center;
        padding-top: 5.313rem;
        font-weight: 700;
    }

    #point ul {
        display: flex;
        justify-content: space-between;

    }

    #point ul li {

        text-align: center;
        width: 15.625rem;
        height: 20.625rem;
        margin-top: 5rem;
        border-radius: 1.25rem;
        background: rgba(40, 140, 134, 0.04);


    }

    #point ul li img {
        padding-top: 3.4375rem;
        padding-bottom: 2.1875rem;
        width: 3.125rem;
    }

    #point ul li strong {
        display: block;
        font-weight: 700;
        font-size: .875rem;
        padding-bottom: 2.1875rem;
    }

    #point ul li p {
        font-size: .75rem;
    }


    /* content3 #submit */
    #submit {}

    #submit .inner {
        padding-top: 8.75rem;
        display: flex;
        justify-content: space-around;
        height: 37.5rem;
    }

    #submit .imgbox img {
        width: 25rem;
        height: 31.25rem;
    }

    #submit h3 {
        font-size: 1.875rem;
        padding-top: .3125rem;
        padding-bottom: .9375rem;
        font-weight: 700;
    }

    #submit span {
        display: block;
        font-size: .875rem;
        padding-bottom: 1.875rem;
    }

    #submit .form {}

    #submit .form table tr {}

    #submit .form table tr td {
        padding-bottom: 1.5625rem;
    }

    #submit .form table tr td input {
        font-size: .75rem;
        width: 31.25rem;
        height: 1.25rem;
        border: none;
        border-bottom: .0313rem solid #999;
    }

    #submit .form table tr td select {
        width: 31.875rem;
        height: 1.25rem;
        border: none;
        border-bottom: .0313rem solid #999;
        font-size: .75rem;
    }

    #submit .form .oktext {
        font-size: .875rem;
        padding-top: .625rem;
    }

    #submit .form .oklink {
        color: #288C86;
        font-weight: 800;
    }

    #submit .form button {
        width: 9.375rem;
        height: 2.5rem;
        border-radius: 3.125rem;
        background-color: #288C86;
        color: #fff;
        font-size: .875rem;
        margin-top: 1.875rem;
        text-align: center;
    }

    #submit .form button:hover {
        color: #288C86;
        background: #fff;
        border: .0625rem solid #288C86;
    }


    /* content4 #nearoffice */
    #nearoffice {}

    #nearoffice .inner {
        height: 81.25rem;
    }

    #nearoffice h3 {
        padding-top: 6.875rem;
        font-size: 1.875rem;
        font-weight: 700;
    }

    #nearoffice span {
        display: block;
        padding-top: 1.25rem;
        padding-left: 56.25rem;
        font-size: .875rem;
        padding-bottom: 1.25rem;

    }

    #nearoffice span a {}

    #nearoffice span a i {
        padding-left: .625rem;
    }

    #nearoffice ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    #nearoffice ul li {
        position: relative;
        /* width: 21.25rem; */
        height: 18.4375rem;

    }

    #nearoffice ul li:nth-child(3) {
        margin-top: 2.5rem;
    }

    #nearoffice ul li a {}

    #nearoffice ul li a img {
        width: 27.5rem;
        height: 18.4375rem;
    }

    #nearoffice ul li a p {
        width: 12.5rem;
        height: 4.6875rem;
        border-top-right-radius: 1.25rem;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #288C86;
        color: #fff;
        font-size: 1.125rem;
        padding-top: 1.375rem;
        padding-left: 1.25rem;
        font-weight: 300;
    }

    #nearoffice ul li a p strong {
        display: block;
        font-weight: 600;
    }


    /* content5 #support */
    #support {
        background: #fcfcfc;


        /* background: rgba(40, 140, 134, 0.04); */
    }

    #support .inner {
        padding-top: 3.125rem;
        height: 21.875rem;
        display: flex;
        justify-content: space-between;
        /* background: #fcfcfc; */

    }

    #support .text {}

    #support .text h3 {
        font-size: 1.875rem;
        font-weight: 800;
    }

    #support .text p {
        font-size: 1rem;
        padding-top: 6.25rem;
    }

    #support ul {
        display: flex;
        flex-wrap: wrap;
        width: 31.25rem;
        height: 25rem;

        justify-content: space-between;

    }

    #support ul li {
        width: 6.25rem;
        height: 8.875rem;
        margin-right: 3.125rem;

    }


    #support ul li img {
        width: 8.125rem;
    }



    /* content6 #insight */

    #insight {}

    #insight .inner {
        padding-top: 7.5rem;
        height: 50rem;
        margin: auto;


    }

    #insight strong {
        display: block;
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
    }

    #insight h3 {
        font-size: 1.875rem;
        font-weight: 800;
        text-align: center;
        margin-bottom: 5rem;
    }

    #insight ul {
        display: flex;
        justify-content: space-around;
    }

    #insight ul li {
        width: 20rem;
        overflow: hidden;
        /* background: #fff; */
        /* background: rgba(40, 140, 134, 0.04); */
        /* border: .0187rem solid  #288c856e; */

    }

    #insight ul li img {
        width: 20rem;
        height: 20rem;
    }

    #insight ul li span {
        display: block;
        font-size: .75rem;
        padding-top: .625rem;
        padding-bottom: .625rem;
        font-weight: 300;

    }

    #insight ul li h4 {
        font-size: .875rem;
        padding-bottom: .625rem;
        font-weight: 700;
        word-break: keep-all;
    }

    #insight ul li p {
        font-size: .75rem;
        font-weight: 400;
        /* word-break: keep-all; */
    }

    #insight ul li button {
        margin-top: 1.875rem;
        width: 26.25rem;
        height: 1.5625rem;
        text-align-last: left;
        background: #288C86;
        color: #fff;
        position: relative;

    }

    #insight ul li button i {
        font-weight: 600;

    }




    /* footer */
    /* footer .left*/
    #footer {

        background: #288C86;
    }

    #footer .inner {
        height: 32.5rem;
        display: flex;
        justify-content: space-between;
    }

    #footer .left {}

    #footer .left select {
        margin-top: 3.125rem;
        width: 9.375rem;
        height: 1.875rem;
        margin-bottom: 3.125rem;
        font-size: .75rem;
    }

    #footer .left p {
        color: #fff;
        font-size: .75rem;
    }

    #footer .left p a {
        color: #fff;
        font-weight: 600;
        font-size: .75rem;
    }

    #footer .sns {
        display: flex;
        margin-top: 3.125rem;
        width: 12.5rem;
        justify-content: space-between;
    }

    #footer .sns li {}

    #footer .sns li a {}

    #footer .sns li a img {
        width: 1.875rem;
    }

    #footer .logobox {}

    #footer .logobox img {
        margin-top: 4.375rem;
        margin-bottom: .9375rem;
    }

    #footer .logobox img p {}



    /* footer .right*/

    #footer .right .righttop {
        display: flex;
        justify-content: space-between;
        width: 31.25rem;

    }

    #footer .right .righttop ul {
        margin-top: 3.125rem;
        font-size: .875rem;
        font-weight: 300;
    }

    #footer .right .righttop ul li {
        padding-bottom: .9375rem;

    }

    #footer .right .righttop ul li a {
        color: #fff;

    }

    #footer .right .righttop ul li a:hover {
        padding-bottom: .1875rem;
        border-bottom: .0625rem solid #fff;
    }

    #footer .right .righttop ul li:first-child {
        font-weight: 700;
    }



    #footer .right .line5 {
        display: flex;
        justify-content: space-between;
        padding-top: 8.75rem;
        font-size: .875rem;
    }

    #footer .right .line5 li {}

    #footer .right .line5 li a {
        color: #fff;

    }


    /* end */
}


@media screen and (max-width:767px) {}