#wrap{
    width: 100%;
    font-family: 'NanumSquare';
}
.inner{
    width: 1380px;
    margin: auto;

}

/* header */
#header{
    position: relative;
    z-index: 10;
    height: 120px;
}
#header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1380px;
    margin: auto;
   

   
}
#header h1{
    padding-top: 35px;
}
#header h1 img{}
#header nav{}
#header nav ul{
    display: flex;
    padding-top: 45px;
 
}
#header nav ul li{
    padding-left: 65px;
    font-size: 22px;
    font-weight: 700;
}

#header nav ul li:first-child{
    padding-left: 0;
}
#header nav ul li a{
    color: #fff;
}

#header nav ul li a:hover{
    padding-bottom: 10px;
    /* border-bottom: 3px solid #288C86; */

    
    color: #288C86;
}

#header .menu{
    display: none;
}


/* visual */
#visual{
    width: 100%;
    height: 1037px;
    position: absolute;
    left: 0;top: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background: url(../images/visual_bg.png);
}
#visual  .inner{
    
    /* margin: auto; */
}
#visual .box{
 /* display: flex; */

}
#visual .text{
    padding-top: 300px;
    /* padding-left: 265px; */
    padding-left: 7px;
    z-index: 5;
position: absolute;
}
#visual .text h2{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 100px;
}

#visual .text h2 span{
    color: #288C86;
}
#visual .text p{
  font-size: 20px;
  font-weight: 700;
}

#visual .banner{
    position: absolute;
    right: 0;top: 0; z-index: 1;
  
}
#visual .banner ul{
display: flex;
overflow: hidden;
width: 1063px;
height: 1037px;
    /* display: none; */
}
#visual .banner ul li{
    width: 1063px;
    height: 1037px;
}
#visual .banner ul li img{
    height: 1037px;
    width: 1063px;
}

#visual .search{
    padding-bottom: 100px;
    /* position: absolute;
    left: 265px;top: 480px;
   */

 
}
#visual .search input{
    width:562px;
    height: 94px;
    font-size: 20px;
    outline: none;
}
#visual .search button{
    background: #288C86;
    width: 300px;
    height: 100px;
    margin-left: -5px;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    font-family: 'NotoSans';
 

}

#visual .btn{
    position: absolute;
    left: 915px; top: 880px;
    z-index: 15;
}
#visual .btn span{
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background:#fcfcfc;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}

#visual .btn span:last-child{
    margin-right: 0;
}

#visual .btn span i{
    display: inline-block;
    color: #288C86;
    font-size: 30px;
    line-height: 60px;
}



/* main */
.main{

    margin-top: 960px;
 

}
/* content1 #type */

#type{

 

}

#type .inner{
    height: 1070px;
    margin: auto;

}
#type h3{
    font-size: 40px;
    font-weight: 700;
    padding-top: 100px;
}

#type p{
padding-top: 20px;
padding-left: 1290px;
font-size: 18px;
padding-bottom: 20px;
}
#type p a{}
#type p a i{
    padding-left: 10px;
}


#type ul{
    display: flex;
    justify-content: space-between;

   
}
#type ul li{  
    position: relative;
}
#type ul li a{}
#type ul li a img{}





#note{
    height: 780px;
    background: #000;
}
 

/* content2 #point */

#point{

}
#point .inner{    
    height: 780px;
}
#point h3{
    font-size: 40px;
    text-align: center;
    padding-top: 85px;
    font-weight: 700;
}
#point ul{
    display: flex;
    justify-content: space-between;
 
}
#point ul li{
   
    text-align: center;
    width: 365px;
    height: 490px;
    margin-top: 80px;
    border-radius: 20px;
    background: rgba(40, 140, 134, 0.04);


}
#point ul li img{
    padding-top: 55px;
    padding-bottom: 55px;
}
#point ul li strong{
    display: block;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 50px;
}
#point ul li p{
    font-size: 18px;
}


/* content3 #submit */
#submit{}
#submit .inner{
    padding-top: 220px;
    display: flex;
    justify-content:space-around;
    height: 940px;
}

#submit h3{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: 700;
}
#submit span{
    display: block;
    font-size: 20px;
    padding-bottom: 50px;
}

#submit .form{
 

}

#submit .form table tr{

}
#submit .form table tr td{
    padding-bottom: 30px;
}

#submit .form table tr td input{
  font-size: 18px;
    width: 500px;
    height: 50px;
    border: none;
    border-bottom: 0.5px solid #999;
    outline: none;
}
#submit .form table tr td select{
width: 510px;
height: 60px;
border: none;
border-bottom: 0.5px solid #999;
font-size: 18px;
}
#submit .form .oktext{
    font-size: 16px;
    padding-top: 10px;
}
#submit .form .oklink{
    color: #288C86;
    font-weight: 800;
}

#submit .form button{
    width: 235px;
    height: 80px;
    border-radius: 50px;
    background-color: #288C86;
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}

#submit .form button:hover{
    color: #288C86;
    background: #fff;
    border: 1px solid #288C86;
}


/* content4 #nearoffice */
#nearoffice{}
#nearoffice .inner{
    height: 980px;
}
#nearoffice h3{
    padding-top: 110px;
    font-size: 40px;
    font-weight: 700;
}
#nearoffice span{
    display: block;
    padding-top: 20px;
padding-left: 1290px;
font-size: 18px;
padding-bottom: 20px;

}
#nearoffice span a{}
#nearoffice span a i{
    padding-left: 10px;
}

#nearoffice ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#nearoffice ul li{
    position: relative;
    margin-top: 40px;
}
#nearoffice ul li:nth-child(1),
#nearoffice ul li:nth-child(2),
#nearoffice ul li:nth-child(3){
    margin-top: 0;
}
#nearoffice ul li a{}
#nearoffice ul li a img {
    height: 295px;
}
#nearoffice ul li a p {
    width: 200px;
    height: 75px;
    border-top-right-radius: 20px;
    position: absolute;
    left: 0;bottom: 0;
    background: #288C86;
    color: #fff;
    font-size: 18px;
    padding-top: 22px;
    padding-left: 20px;
    font-weight: 300;
}
#nearoffice ul li a p strong {
    display: block;
    font-weight: 600;
}


/* content5 #support */
#support{
    background: #fcfcfc;
    /* background: rgba(40, 140, 134, 0.04); */
}
#support .inner{
    padding-top: 100px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    /* background: #fcfcfc; */

}

#support .text{}
#support .text h3{
    font-size: 40px;
    font-weight: 800;
}
#support .text p{
    font-size: 18px;
    padding-top: 100px;
}

#support ul{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
   
    justify-content: space-between;

}
#support ul li{
    width: 200px;
    height: 142px;
    margin-right: 50px;

}


#support ul li img{

}



/* content6 #insight */

#insight{}
#insight .inner{
    padding-top: 150px;
    height: 990px;
    margin: auto;


}
#insight strong{
    display: block;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
#insight h3{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 80px;
}
#insight ul{
    display: flex;
    justify-content: space-around;
}
#insight ul li{
    width: 420px;
    overflow: hidden;
    /* background: #fff; */
    /* background: rgba(40, 140, 134, 0.04); */
    /* border: 0.3px solid  #288c856e; */
    
}
#insight ul li img{
    width: 420px;
    height: 420px;
}
#insight ul li span{
    display: block;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;

}
#insight ul li h4{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 700;
}
#insight ul li p{
    font-size: 16px;
    font-weight: 400;
}
#insight ul li button{
    margin-top: 30px;
    width: 420px;
    height: 25px;
    text-align-last: left;
    background: #288C86;
    color: #fff;
    position: relative;

}
#insight ul li button i{
    font-weight: 600;

}


/* footer */
/* footer .left*/
#footer{

    background: #288C86;
}
#footer .inner{
    height: 580px;
    display: flex;
    justify-content: space-between;
}

#footer .left{}
#footer .left select{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    margin-bottom: 50px;
}
#footer .left p{
    color: #fff;
}
#footer .left p a{
    color: #fff;
    font-weight: 600;
}

#footer .sns{
    display: flex;
    margin-top: 50px;
    width: 200px;
    justify-content: space-around;
}
#footer .sns li{}
#footer .sns li a{}
#footer .sns li a img{}

#footer .logobox{}
#footer .logobox img{
    margin-top: 70px;
    margin-bottom: 15px;
}
#footer .logobox img p{}



/* footer .right*/

#footer .right .righttop{
    display: flex;
    justify-content: space-between;
    width: 675px;
   
}
#footer .right .righttop ul{
    margin-top: 50px;
    font-size: 18px;
    font-weight: 300;
}
#footer .right .righttop ul li{
    padding-bottom: 15px;
   
}
#footer .right .righttop ul li a{
    color: #fff;
   
}
#footer .right .righttop ul li a:hover{
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
}

#footer .right .righttop ul li:first-child{
    font-weight: 700;
}



#footer .right .line5{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    font-size: 18px;
}
#footer .right .line5 li{}
#footer .right .line5 li a{
    color: #fff;

}

